export(lighter)
export(darker)
export(saturate)
export(desaturate)
export(complement)
export(seq_mnsl)
export(check_mnsl)
export(in_gamut)
export(fix_mnsl)
export(mnsl_hues)
export(mnsl2hex, mnsl)
export(hvc2mnsl)
export(rgb2mnsl)
import(colorspace)
export(plot_hex)
export(plot_mnsl)
export(hue_slice)
export(value_slice)
export(chroma_slice)
export(complement_slice)
export(plot_closest)
export(text_colour)
